/*Un pseudoelemento es un elemento que no es un elemento porque no forma parte del DOM, pero permite ver cambios visuales*/

/*::first-line { funciona solo en elementos de bloque, osea en inline no}*/

/*.texto {
    width: 500px;
    border: 2px dashed grey;
    padding: 20px;
}*/

/*.texto::first-letter { funciona solo en elementos de bloque, osea en inline no
    color:blue;
    font-size: 2em;
}*/

/*.texto::first-line {
    color: lightblue;
    font-size: 1.5em;
}/*

/**/

* {
    font-family: 'IM Fell DW Pica', serif;
    font-weight: 100;
    font-size: 20px;
}

form {
    margin: 100px auto;
    display: block;
    background-color: #666;
    padding: 100px;
    width: 50%;
    text-align: center;
}

/*input {
    width: 100%;
    padding: 6px;
    
}

/*input::placeholder {
    color: red;
    font-size: 1.4em;
    background-color: yellow;
}*/

/*input::selection {
    color: white;
    font-size: 1.4em;
    background-color: black;
} /*Como se comporta como un elemento en linea, no permite dar padding*/

b {
    padding: 6px;
    width: 100%;
} /*Funciona tanto en elementos en linea como en bloque, tanto en b como en p*/

b::before {
    content: "Me suscribi";
    color: #fff;

} /*Funciona tanto en elementos en linea como en bloque, tanto en b como en p*/

b::after {
    content: "todo tendencias";
    color: red;
    background: #614;
} /*Funciona tanto en elementos en linea como en bloque, tanto en b como en p*/