* {
    font-family: 'IM Fell DW Pica', serif;
    font-weight: 100;
    font-size: 20px;
}

/*.caja1 {
    height: 200px;
    width: 200px;
    background-color: slateblue;
    transition: background-color 1s, height 1s, width 1s;
}

.caja1:hover {
    background-color: darkslateblue;
    height: 300px;
    width: 300px;
}*/


/*a:link{ link & visited
    color: red;
    background-color: yellow;
}

a:visited{
    color: violet;
}

a {
    color: green !important
}*/

/*.caja { 
    width: 250px;
    height: 250px;
    background-color: RED;
    margin: 25px;
    transition: all 1s;
}

.caja:active {
    background-color: blue;
    width: 400px;
} /*Active*/

/*.caja {
    margin: 25px;
}

.caja b:lang(en) {
    background-color: red;
    padding: 20px;
} */