body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #f4f4f4;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

